
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');


:root{

  --theme: rgb(106, 18, 189);
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  width: 90%;
  margin: 0 auto;
}

/* nav styles */
.nav-container{
  height: 60px;
  background-color: var(--theme);
  margin: 20px 0;
  border-radius: 40px;
}

.nav-container > ul {
  height: inherit;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-container > ul > li> a{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;

}
.nav-container > ul > li> a:hover, .nav-container > ul > li> a:active{
  background-color: white;
  color: black;
  border-radius: 30px;
  padding: .6rem 1.1rem;
}
#logo{
 background: white;
 padding: .7rem;
 border-radius: 50%;
 font-weight: bold;
}

/* @media (maxwidth:700px){
  .nav-container{

  }
} */

/* First section styles */
.container{

  display: flex;
  gap: 60px;

}
.image{
  position: relative;
}
.image > img{
  width: 400px;
  height: 450px;
  border-radius: 30px;
 position: relative;
}
.circle{
  width: 90px;
  height: 90px;
  position: absolute;
  bottom: 60px;
  right: 30px;
  border-radius: 50%;
  background-color: var(--theme)
}

.text{
    padding: 6rem 0px;
    width: 600px;
}
.text > h1 {
  font-family: 'Paytone One', sans-serif;
  letter-spacing: 2px;
  
}
.text > h1 > span.name{
  color: var(--theme);
}
.text p{
  font-size: .9rem;
  letter-spacing: .5px;
  line-height: 1.5;
  max-width: 450px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Paytone One', sans-serif;
  font-weight: 400;
  text-align: justify;
 
}
button{
  border: none;
  border-radius: 5px;
  padding: .6rem 3rem;
  font-family: 'Paytone One',sans-serif;
}
.About-btn{
    background-color: black;
    color: white;
    margin-right: 10px;
}
.download-btn{
  padding: .6rem 1.5rem;
  background-color: var(--theme);
  color: white;
}
.social{
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: center;
  justify-content: center;
}
.social p{
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: sans-serif;
  color: var(--theme);
}
.social hr{
  margin: 20px;
  height: 80px;
  border: none;
  border-left : 1px solid var(--theme);
}
.social svg{
  width: 15px;
  height: 15px;
  background-color: var(--theme);
  color: white;
  border-radius: 5px;
  margin-bottom: 20px;
}
